body{
  font-family: Roboto;
}


#title{
  background-color: #ff4c68;
  color: white;
}
.container-fluid{
  padding: 4% 15% 9%;
}
h1{
  font-family: montserrat;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 50px;
}
/* navbar */
.navbar{
  padding: 0 0 8% 0;
}
.navbar-brand{
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 15px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: ubuntu-light;
}
.but{
  margin-left: 3%;
}
.imag{
  width: 325px;
  transform: rotate(25deg);
  position: absolute;
  right: 130px;
}
#features{

  background-color: white;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 30px;
  margin-top: 35px;
}
.col-lg-4{
  width: 100px;
}
p{
  color: #afafaf;
}
h3{
  font-family: Roboto-black;
  font-weight:900;
  font-size: 1.75rem;
  padding: 10 80% 0 60%;
}



.icon{
margin-bottom: 1.2rem;
color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
  border-style: none;
}
.carousel-item{
  padding: 7% 15%;
  margin-bottom: 60px;
}
h2{
 font-size: 3rem;
 font-weight: 900;
 font-family: Roboto;
 padding: auto 10%;
 margin-bottom: 30px;
}
.testimage{
  width: 120px;
  border-radius: 100%;
  margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    border-style: none;

}
.logoimg{
  width: 14%;
  margin: 15px 30px 55px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.colm-price{
  padding: 3% 4%;
  border-style: none;
}
@media (max-width: 1020px) {
   #title{
     text-align: center;
   }

  .imag{
    margin-top: 200px;
    position: static;
    transform: rotate(0);
    margin-bottom: 35vh;
  }
  .endcard{
    margin-left: 28%;
    margin-top: 4%;
  }
}
#cta{
  text-align: center;
  background-color: #ff4c68;
  color: white;
  font-family: Roboto;
  padding: 7% 25% 7%;

}

.end{
  font-size: 50px;
  /* width: 800px; */
}
.bas{
margin-top: 4%;
}
#footer{
  text-align: center;
  background-color: white;
  padding: 3% 20% 1%;
}
.endpara{
  margin-top: 4px;
}
.social-contact{
  margin: 10px 10px;
}
